.container{
    background-color: purple;
    width:400px;
    height:250px;
    border-radius: 5px;
    position: relative;
}
.col{
    background-color: grey;
    position: absolute;
    
}
.col-1{
    width: 5%;
    height:50px;
    bottom:5px;
    left:5px;
}
.col-2{
    width: 5%;
    height:150px;
    bottom:5px;
    left:50px;
}

.col-3{
    width: 5%;
    height:220px;
    bottom:5px;
    left:100px;
}
.col-4{
    width: 5%;
    height:210px;
    bottom:5px;
    left:150px;
}
.col-5{
    width: 5%;
    height:180px;
    bottom:5px;
    left:205px;
}
.col-6{
    width: 5%;
    height:130px;
    bottom:5px;
    left:255px;
}
.text {
    position: absolute;
    color: black;
    font-weight: bold;
}

.money {
    top: 5px;
    left: 5px;
}

.time {
    bottom: 5px;
    right: 5px;
}

